@prefix:~"home";

.@{prefix}{
    height:100%;
    display:flex;
    flex-direction:column;
    background: #eee;
    &>.footer{
        display: flex;
        height: 50px;
        background: #fff;
        >div{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
           
        }
    }
}